/tmp
/.idea
/box
/iso
/answer_files/windows/Autounattend.xml
/esxi_config.json
/*.log
/helpers/*.log
.vscode/settings.json
lib/__init__.pyc
lib/packerMod.pyc
lib/serverHelper.pyc
.DS_Store
boxcutter/ubuntu
